<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/compilerincloud</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">Uniteam</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Names the annotated entity class -->
		<mapping class="com.compiler.model.AccessToken"></mapping>
		<mapping class="com.compiler.model.User"></mapping>

	</session-factory>

</hibernate-configuration>
